<button id="js-theme-toggle" class="toggle-btn--theme box-flex">
    <span aria-hidden="true">☀️</span>
    <span id="js-theme-toggle-text--light" class="theme-toggle-text--light visually-hidden">
        {{ trans.lation('Switch to light theme', 'Vaihda vaaleaan teemaan', locale) }}
    </span>
    <span id="js-theme-toggle-text--dark" class="theme-toggle-text--dark visually-hidden">
        {{ trans.lation('Switch to dark theme', 'Vaihda tummaan teemaan', locale) }}
    </span>
    <span class="toggle-btn box-flex">
        <span class="toggle-btn__indicator box-block" aria-hidden="true"></span>
    </span>
    <span aria-hidden="true">🌒</span>
</button>
