$burger__height: 3em;
$burger__width: 3em;
$burger__layer-height: .5em;
$burger__colour: var(--color-text);

// Structure
.burger {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    width: $burger__height;
    height: $burger__width;
    padding: 0;
    z-index: 2;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;

    // Clicked State
    &[aria-expanded="true"] {
        .burger__inner {
            background-position: 3em 0;

            &:before,
            &:after {
                top: $burger__layer-height * 2;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }
    }

    @include media-query('sm') {
        display: none;
    }
}

.burger__inner {
    display: block;
    width: $burger__width;
    height: $burger__layer-height;
    margin-top: -#{$burger__layer-height};
    background: $burger__colour;
    background: linear-gradient(90deg,$burger__colour 0,$burger__colour 100%);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: all .15s ease-in-out, .2s ease-in-out background-position;
    border-radius: 2px;

    &:before,
    &:after {
        display: block;
        position: absolute;
        content: "";
        z-index: -1;
        width: $burger__width;
        height: $burger__layer-height;
        background: $burger__colour;
        transition: all .15s ease-in-out;
        border-radius: 2px;
    }

    &:before {
        top: 0;
    }

    &:after {
        top: $burger__layer-height * 4;
    }
}
