$burger__height: 3em;
$burger__width: 3em;
$burger__layer-height: .5em;
$burger__colour: var(--color-primary);

// Structure
.burger-wrap {
    @include apply-utility('box', 'flex');
    align-content: center;
    justify-content: flex-end;
    position: absolute;
    top: 1em;
    right: 1em;
    background: transparent;
    padding: 0 0 0 .5em;
    border: 0;
    appearance: none;

    @include media-query('sm') {
        display: none;
    }

    // Clicked State
    &[aria-expanded="true"] {
        .burger__inner {
            background-position: 3em 0;

            &:before,
            &:after {
                top: 0;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }
    }
}

.burger-label {
    position: relative;
    top: -.15em;
    margin: auto 1em auto 0;
}

.burger {
    @include apply-utility('box', 'block');
    width: $burger__height;
    height: $burger__width;
    padding: 0;
    z-index: 2;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.burger__inner {
    @include apply-utility('box', 'block');
    position: relative;
    top: 50%;
    width: $burger__width;
    height: $burger__layer-height;
    margin-top: -#{$burger__layer-height};
    background: $burger__colour;
    background: linear-gradient(90deg,$burger__colour 0,$burger__colour 100%);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: transform .15s ease-in-out, top .15s ease-in-out, .2s ease-in-out background-position;
    border-radius: 2px;

    &:before,
    &:after {
        @include apply-utility('box', 'block');
        position: absolute;
        content: "";
        z-index: -1;
        width: $burger__width;
        height: $burger__layer-height;
        background: $burger__colour;
        transition: transform .15s ease-in-out, top .15s ease-in-out;
        border-radius: 2px;
    }

    &:before {
        top: -1em;
    }

    &:after {
        top: 1em;
    }
}
