.card-link {
    @include ratio--3-2;

    &__title {
        @include apply-utility('align', 'left');
        top: 0;
        left: 0;
        padding: .8em 1em;
    }

    &:hover {
        .card-link__title {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: .15em;
        }
    }
}
