.card-link {
    @include ratio--3-2;
    margin-bottom: 4em;
    overflow: hidden;

    @supports (margin-bottom: clamp(3em, 6.7vw, 5em)) {
        margin-bottom: clamp(3em, 6.7vw, 5em);
    }

    &:after {
        content: "";
        @include apply-utility('box', 'block');
        @include apply-utility('stack', '400');
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent;
        transition: .3s ease-in-out box-shadow;
    }

    &__inner {
        top: 0;
        left: 0;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    &__title {
        @include apply-utility('align', 'left');
        padding: .8em 1em 0;
    }

    &__image + .card-link__title,
    &.bg-mid-grey {
        color: $light;
    }

    &:hover,
    &:focus {

        &:after {
            box-shadow: inset 0rem -9em 4.5em -4.5em rgba(0,0,0,.6);
            transition: .3s ease-in-out box-shadow;
        }

        .card-link__title {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: .15em;
        }
    }
}
