.card-link {
    @include ratio--3-2;
    position: relative;
    color: var(--color-base);
    background-color: var(--color-primary);
    margin-bottom: 4em;
    text-decoration: none;
    overflow: hidden;

    @supports (margin-bottom: clamp(3em, 6.7vw, 5em)) {
        margin-bottom: clamp(3em, 6.7vw, 5em);
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__inner {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    &__title {
        @include apply-utility('align', 'left');
        padding: .8em 1em .5em;
    }

    &__image + .card-link__title,
    &.bg-mid-grey {
        color: $light;
    }

    img,
    picture {
        border-radius: 0;
    }

    picture {
        filter: grayscale(1) contrast(.7) brightness(.7);
    }

    &:hover,
    &:focus {
        .card-link__title {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: .15em;
        }
    }
}
