code[class*="language-"],
pre[class*="language-"] {
    color: var(--color-code-fg);
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: var(--color-code-bg) !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--color-code-comment);;
}

.token.punctuation {
    color: var(--color-code-fg);
}

.namespace {
    opacity: 0.7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.delimiter {
    color: var(--color-code-quaternary);
}

.token.boolean,
.token.number {
    color: var(--color-code-quinary);
}

.token.property {
    color: var(--color-code-primary);
}

.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--color-code-septenary);
}

.token.operator,
.token.atrule,
.token.entity,
.token.url,
.token.keyword,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: var(--color-code-quaternary);
}

.token.selector,
.token.attr-name,
.token.function,
.token.class-name {
    color: var(--color-code-secondary);
}

.token.regex,
.token.important,
.token.parameter,
.token.content {
    color: var(--color-code-tertiary);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.title {
    .token.punctuation {
        color: var(--color-code-quinary);
    }
    color: var(--color-code-quinary);
}

.token.bold {
    .token.punctuation {
        color: var(--color-code-tertiary);
    }
    color: var(--color-code-tertiary);
}

.token.italic,
.token.blockquote {
    .token.punctuation,
    .token.content {
        color: var(--color-code-septenary);
    }
    color: var(--color-code-septenary);
}

.token.strike {
    .token.punctuation,
    .token.content {
        color: var(--color-code-fg);
    }
    color: var(--color-code-fg);
}
