code[class*="language-"],
pre[class*="language-"] {
    color: $code-fg--light;
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: $code-bg--light;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $code-comment--dark;
}

.token.punctuation {
    color: $code-fg--light;
}

.namespace {
    opacity: 0.7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.delimiter {
    color: $code-yellow--dark;
}

.token.boolean,
.token.number {
    color: $code-violet--dark;
}

.token.property {
    color: $code-pink--dark;
}

.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: $code-blue--dark;
}

.token.operator,
.token.atrule,
.token.entity,
.token.url,
.token.keyword,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: $code-yellow--dark;
}

.token.selector,
.token.attr-name,
.token.function,
.token.class-name {
    color: $code-green--dark;
}

.token.regex,
.token.important,
.token.parameter,
.token.content {
    color: $code-orange--dark;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.title {
    .token.punctuation {
        color: $code-violet--dark;
    }
    color: $code-violet--dark;
}

.token.bold {
    .token.punctuation {
        color: $code-orange--dark;
    }
    color: $code-orange--dark;
}

.token.italic,
.token.blockquote {
    .token.punctuation,
    .token.content {
        color: $code-blue--dark;
    }
    color: $code-blue--dark;
}

.token.strike {
    .token.punctuation,
    .token.content {
        color: $code-fg--dark;
    }
    color: $code-fg--dark;
}

@include dark-theme() {
    code[class*="language-"],
    pre[class*="language-"] {
        color: $code-fg--dark;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        background: $code-bg--dark;
    }

    .token.punctuation {
        color: $code-fg--dark;
    }
}
