.cursor-dot {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    $dot-size: min(1.5em, 5vw);

    .cursor-dot {
        pointer-events: none;
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $dot-size;
        height: $dot-size;
        background-color: lighten($light-primary, 5%);
        border-radius: 50%;
        opacity: 0;
        z-index: 100001;
        transform: translate(-50%, -50%);
        transition: opacity .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out;
        overflow: hidden;

        &[data-hovering="text"] {
            background-color: var(--color-text);
            opacity: .95 !important;

            span {
                @include apply-utility('box', 'block');
                @include apply-utility('font', 'title-l');
                color: var(--color-base);
                font-size: 225%;
                transform: scale(.1);
                line-height: 1;
                text-align: center;
                text-decoration: underline;
            }
        }
    }

    @include dark-theme() {
        .cursor-dot:not([data-hovering="text"]) {
            background: darken($dark-primary, 11%);
        }
    }

    /* Hide on high contrast theme */
    [data-user-color-theme="high-contrast"] {
        .cursor-dot {
            display: none;
        }
    }

    /* Hide for smartphones & tablets */
    @media (hover: none) and (pointer: coarse) {
        .cursor-dot {
            display: none;
        }
    }

    /* Hide if reduced motion preferred */
    @media (prefers-reduced-motion: reduce) {
        .cursor-dot {
            display: none;
        }
    }
}