picture,
img {
    border-radius: #{get-size('600')};
}

picture {
    @include ratio--3-2;
    background-color: var(--color-mid-grey);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top left;
    }
}

p + picture,
p + img {
    margin-top: 3.5em;
}

picture + p,
img + p {
    margin-top: 3.5em;
}
