.main-nav-wrap {
    top: get-size('400');

    @include media-query('sm') {
        position: sticky;
    }
}

.main-nav {
    .nav__link {
        @include apply-utility('color', 'text');
    }

    @media (max-width: 36rem) {
        .nav__item {
            &.nav__item--active {
                .nav__link {
                    &:before {
                        content: "";
                        position: absolute;
                        top: auto;
                        bottom: 0.2em;
                        left: 0;
                        display: block;
                        height: .125rem;
                        background-color: var(--color-primary);
                        width: 100%;
                        transform: none;
                    }
                }
            }
        }

        .nav__link {
            position: relative;
            display: inline-block;
            font-size: 7vh;
            text-decoration: none;
        }
    }

    @include media-query('sm') {
        max-width: 33%;
        padding-right: 4.2vw;

        @supports (padding-right: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')})) {
            padding-right: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')});
        }

        ul {
            outline: .2rem dashed var(--color-primary);
            outline-offset: -.2rem;
            padding-bottom: 4.2vw;

            @supports (padding-bottom: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")})) {
                padding-bottom: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")});
            }

            .nav__item {
                margin-top: .5em;
                padding-left: get-size('900');

                &.nav__item--active {
                    .nav__link {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 45%;
                            bottom: auto;
                            left: -#{get-size('900')};
                            width: #{get-size('800')};
                            transform: translateY(-50%);
                        }
                    }
                }

                .nav__link {
                    position: relative;
                    line-height: 1.1;
                    text-decoration: none;

                    &:before {
                        @include apply-utility('box', 'block');
                        content: "";
                        position: absolute;
                        top: 45%;
                        left: calc(#{get-size('800')} - #{get-size('900')});
                        width: 0;
                        height: .125rem;
                        background-color: var(--color-text);
                        transition: .15s ease width, .15s ease left;
                    }

                    &:hover,
                    &:focus {
                        &:not([aria-current="page"]) {
                            &:before {
                                width: #{get-size('600')};
                                left: -2.17rem; // size-600 + (size-800 - size-900);
                                transition: .15s ease width, .15s ease left;
                            }
                        }
                    }
                }
            }
        }
    }
}
