.main-nav-wrap {
    top: get-size('400');

    @include media-query('sm') {
        position: sticky;
        max-width: 33%;
        padding-right: 4.2vw;

        @supports (padding-right: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')})) {
            padding-right: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')});
        }
    }
}

.main-nav {
    ul.main-nav__list {
        padding-bottom: #{get-size('800')};
    }

    .nav__item {
        &.nav__item--active {
            .nav__link {
                text-decoration: underline;
                text-decoration-thickness: .125rem;
                text-underline-offset: .65rem;
                text-decoration-color: var(--color-primary);
            }
        }
    }

    .nav__link {
        @include apply-utility('color', 'text');
        position: relative;
        display: inline-block;
        font-size: get-size('900');
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
            text-decoration-thickness: .125rem;
            text-underline-offset: .65rem;
        }
    }

    @include media-query('sm') {
        .main-nav__list {
            padding-bottom: 4.2vw;

            @supports (padding-bottom: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")})) {
                padding-bottom: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")});
            }

            .nav__item {
                margin-top: .5em;
                padding-left: get-size('700');

                &.nav__item--active {
                    .nav__link {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 45%;
                            bottom: auto;
                            left: -#{get-size('700')};
                            width: #{get-size('600')};
                            transform: translateY(-50%);
                            background-color: var(--color-primary);
                        }
                    }
                }

                .nav__link {
                    position: relative;
                    font-size: 3.3vw;
                    line-height: 1.1;
                    text-decoration: none;

                    @supports (font-size: clamp(#{get-size('600')}, 3.3vw, #{get-size('900')})) {
                        font-size: clamp(#{get-size('600')}, 3.3vw, #{get-size('900')});
                    }

                    &:before {
                        @include apply-utility('box', 'block');
                        content: "";
                        position: absolute;
                        top: 45%;
                        left: calc(#{get-size('600')} - #{get-size('700')});
                        width: 0;
                        height: .125rem;
                        background-color: var(--color-text);
                        transition: .15s ease width, .15s ease left;
                        transition-delay: .1s;
                    }

                    &:hover,
                    &:focus {
                        &:not([aria-current="page"]) {
                            &:before {
                                width: #{get-size('400')};
                                // size-400 + (size-700 - size-600) * -1 to get inverse/negative;
                                left: calc(calc(#{get-size('400')} + calc(#{get-size('700')} - #{get-size('600')})) * -1);
                                transition: .15s ease width, .15s ease left;
                                transition-delay: .1s;
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-query('md') {
        .main-nav__list {
            .nav__item {
                padding-left: get-size('900');

                &.nav__item--active {

                    .nav__link {
                        &:before {
                            left: -#{get-size('900')};
                            width: #{get-size('800')};
                        }
                    }
                }

                .nav__link {

                    &:before {
                        left: calc(#{get-size('800')} - #{get-size('900')});
                    }

                    &:hover,
                    &:focus {
                        &:not([aria-current="page"]) {
                            &:before {
                                width: #{get-size('600')};
                                // size-600 + (size-900 - size-800) * -1 to get inverse/negative;
                                left: calc(calc(#{get-size('600')} + calc(#{get-size('900')} - #{get-size('800')})) * -1);
                            }
                        }
                    }
                }
            }
        }
    }
}
