.tech-stack {
    display: inline-block;
    width: auto;
    max-width: 100%;
    min-width: 50%;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 2px solid var(--color-primary);

    summary {
        padding-top: #{get-size('100')};
        list-style: none;
        user-select: none;

        &::marker,
        &::-webkit-details-marker {
            opacity: 0;
        }
    }
}
