.toggle-btn {
    position: relative;
    top: 0.1em;
    display: inline-block;
    height: 1.25rem;
    width: 2rem;
    margin-left: .75em;
    margin-right: .75em;
    padding: 0;
    background: 0;
    border: .1rem solid;
    border-radius: 1rem;

    &__indicator {
        position: absolute;
        top: 50%;
        height: 1.05rem;
        width: 1rem;
        background-color: var(--color-primary);
        border-radius: 50%;
    }
}

html[lang="en"] {
    .toggle-btn__indicator {
        transform: translate(calc(-50% + .5rem),-50%);
    }
}

html[lang="fi"] {
    .toggle-btn__indicator {
        transform: translate(calc(50% + .4rem),-50%);
    }
}
