$toggle-indicator-left: translate(calc(-50% + .6em),-50%);
$toggle-indicator-right: translate(calc(50% + .85em),-50%);

.toggle-btn {
    position: relative;
    top: -0.05em;
    display: inline-block;
    height: 1.5em;
    width: 2.8em;
    margin-left: .75em;
    margin-right: .75em;
    padding: 0;
    background: 0;
    border: .12em solid;
    border-radius: 1.5rem;

    &__indicator {
        position: absolute;
        top: 50%;
        height: 1.25em;
        width: 1.2em;
        background-color: var(--color-primary);
        border-radius: 50%;
    }
}

.toggle-btn--theme {
    .toggle-btn__indicator {
        transform: $toggle-indicator-left;
    }
}

@include dark-theme() {
    .toggle-btn--theme {
        .toggle-btn__indicator {
            transform: $toggle-indicator-right;
        }
    }
}

html[lang="en"] {
    .toggle-btn--lang {
        .toggle-btn__indicator {
            transform: $toggle-indicator-left;
        }
    }
}

html[lang="fi"] {
    .toggle-btn--lang {
        .toggle-btn__indicator {
            transform: $toggle-indicator-right;
        }
    }
}
