$toggle-indicator-left: translate(calc(-50% + .57em),-50%);
$toggle-indicator-right: translate(calc(50% + .71em),-50%);

.toggle-btn {
    position: relative;
    top: -0.05em;
    display: inline-block;
    height: 1.5em;
    width: 2.8em;
    margin-top: auto;
    margin-left: .75em;
    margin-bottom: auto;
    margin-right: .75em;
    padding: 0;
    background: 0;
    border: .15em solid;
    border-radius: 1.5rem;

    &__indicator {
        position: absolute;
        top: 50%;
        height: 1.25em;
        width: 1.2em;
        background-color: var(--color-primary);
        border-radius: 50%;
    }
}

.toggle-btn--theme {
    color: var(--color-base);
    appearance: none;
    background: transparent;
    padding: 0;
    border: 0;

    &:hover {
        cursor: pointer;
    }

    .toggle-btn__indicator {
        background: var(--color-primary-alt);
        transform: $toggle-indicator-left;
        transition: .2s cubic-bezier(.1,.01,1,.01) transform;
    }

    .theme-toggle-text--light {
        @include apply-utility('box', 'hide');
    }

    .theme-toggle-text--dark {
        @include apply-utility('box', 'show');
    }

    @include media-query('sm') {
        color: var(--color-text);

        .toggle-btn__indicator {
            background: var(--color-primary);
        }
    }
}

@include dark-theme() {
    .toggle-btn--theme {
        .toggle-btn__indicator {
            transform: $toggle-indicator-right;
        }

        .theme-toggle-text--light {
            @include apply-utility('box', 'show');
        }

        .theme-toggle-text--dark {
            @include apply-utility('box', 'hide');
        }
    }
}

html[lang="en"] {
    .toggle-btn--lang {
        .toggle-btn__indicator {
            transform: $toggle-indicator-left;
        }
    }
}

html[lang="fi"] {
    .toggle-btn--lang {
        .toggle-btn__indicator {
            transform: $toggle-indicator-right;
        }
    }
}
