.wrapper--404 {
    flex-direction: column;
    align-items: center;
}

.title-404--light,
.title-404--dark {
    text-align: center;

    .xl {
        display: block;
    }
}

.title-404--light,
.message-404--light {
    display: block;
}

.title-404--dark,
.message-404--dark {
    display: none;
}

@include dark-theme() {
    .title-404--light,
    .message-404--light {
        display: none;
    }

    .title-404--dark,
    .message-404--dark {
        display: block;
    }
}
