.home-content {

    .lede {
        &:first-of-type {
            margin-top: 3em;
            margin-bottom: 5em;

            @supports (margin-top: clamp(2em, 6.7vw, 3em)) {
                margin-top: clamp(2em, 6.7vw, 3em);
                margin-bottom: clamp(4em, 6.7vw, 5em);
            }
        }
    }
}
