$header-top-height: clamp(get-size('1100'), 16vw, 12.5rem);

.site-wrap {
    max-width: $max-width;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-right: 4.2vw;
    padding-bottom: 4.2vw;
    padding-left: 4.2vw;

    @supports (padding-left: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")})) {
        padding-right: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")});
        padding-bottom: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")});
        padding-left: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")});
    }
}

@supports (display: grid) {
    @include media-query("sm") {
        .site-wrap {
            display: grid;
            grid-template-columns: minmax($header-top-height, 1fr) 1fr 1fr;
            grid-template-rows: $header-top-height 1fr;
        }

        .main-content {
            grid-column: 2/4;
            grid-row: 2/3;
            min-width: 0;
            z-index: 1;
            margin-top: -#{get-size("400")};
        }

        .side-content {
            grid-column: 1/4;
            grid-row: 1/3;
            z-index: 0;
        }
    }
}

.site-head {
    height: 100%;
    position: relative;

    &__brand {
        display: inline-block;
        max-height: 4rem;

        svg {
            max-height: 4rem;
        }
    }

    &__top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 12.5rem;
        background: var(--color-base);
        box-shadow: 0 1.25em 1em var(--color-base);

        @supports (height: $header-top-height) {
            height: $header-top-height;
        }
    }

    &__bottom {
        display: none;
        height: calc(100% - 12.5rem);

        @supports (height: calc(100% - #{$header-top-height})) {
            height: calc(100% - #{$header-top-height});
        }
    }

    .lang-nav {
        visibility: hidden;
        position: fixed;
        bottom: 0;
        right: 0;
        justify-content: center;
        width: 100%;
        background: var(--color-base);
        padding: 1em;

        &__item {

            .lang-nav__link {
                text-transform: uppercase;
                text-decoration: none;
            }

            &__code {
                margin: auto;

                &.row-reverse {
                    flex-direction: row-reverse;
                }

                > span {
                    margin: 0 .25rem;
                }
            }
        }
    }

    .theme-toggle-wrap {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: var(--color-text);
        justify-content: flex-end;
        padding: .75rem 1rem .5rem 1rem;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/images/textures/paper-3.png);
            opacity: .35;
            pointer-events: none;
        }
    }

    @include media-query('sm') {
        .site-head__top {
            position: relative;
            top: 0;
            box-shadow: none;
        }

        .site-head__bottom {
            display: block;
        }

        .lang-nav {
            position: absolute;
            top: 0;
            bottom: auto;
            right: 0;
            width: auto;
            justify-content: flex-end;
            padding: 1em 0 0 1em;
            visibility: visible;
        }

        .theme-toggle-wrap {
            max-width: 33vw;
            background-color: rgba(0,0,0,.4);
            background-color: var(--color-base);
            padding-top: .25em;
            padding-right: 4.2vw;
            padding-bottom: 1.5em;
            padding-left: 4.2vw;
            justify-content: flex-start;
            box-shadow: 0 -1.25em 1em 0 var(--color-base);
            z-index: 2;

            @supports (padding-left: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")})) {
                padding-right: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")});
                padding-left: clamp(#{get-size("300")}, 4.2vw, #{get-size("1000")});
            }

            &:after {
                display: none;
            }
        }
    }

    @include media-query('xl') {
        .theme-toggle-wrap {
            left: calc((100vw - #{$max-width}) / 2);
        }
    }
}

.main-content {
    padding-top: calc(#{get-size('800')} + #{get-size('1100')});
    padding-bottom: get-size('1000');

    @include media-query('sm') {
        padding-top: 0;
        padding-bottom: 0;
    }
}

html[data-menu-open="true"] {
    body {
        overflow: hidden;
    }

    .site-head__bottom {
        @include apply-utility('box', 'block');
        @include apply-utility('align', 'center');
        position: fixed;
        top: get-size('1100');
        left: 0;
        width: 100%;
        height: calc(100% - 7.5rem);
        padding-top: get-size('800');
        padding-bottom: get-size('1100');
        background: var(--color-base);
        overflow-y: auto;
    }

    .lang-nav {
        visibility: visible;
        box-shadow: 0 -1.25em 1em 0 var(--color-base);
    }

    .theme-toggle-wrap {
        @include apply-utility('box', 'hide');
    }
}

@include dark-theme() {
    .theme-toggle-wrap {
        &:after {
            opacity: .2;
        }
    }
}