$header-top-height: clamp(7.5rem, 20vw, 12.5rem);

.site-wrap {
    max-width: $max-width;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4.2vw;
    padding-right: 4.2vw;

    @supports (padding-left: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')})) {
        padding-left: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')});
        padding-bottom: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')});
        padding-right: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')});
    }
}

@supports (display: grid) {
    @include media-query('sm') {
        .site-wrap {
            display: grid;
            grid-template-columns: minmax($header-top-height, 1fr) 1fr 1fr;
            grid-template-rows: $header-top-height 1fr;
        }

        .main-content {
            grid-column: 2/4;
            grid-row: 2/3;
            min-width: 0;
            z-index: 1;
            outline: .2rem dashed var(--color-primary);
            outline-offset: -.2rem;
            margin-top: -#{get-size('400')};
        }

        .side-content {
            grid-column: 1/4;
            grid-row: 1/3;
            z-index: 0;
        }
    }
}

.site-head {
    height: 100%;
    position: relative;

    &__top {
        height: 12.5rem;

        @supports (height: $header-top-height) {
            height: $header-top-height;
        }
    }

    &__bottom {
        height: calc(100% - 12.5rem);

        @supports (height: calc(100% - #{$header-top-height})) {
            height: calc(100% - #{$header-top-height});
        }
    }

    .lang-nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    .main-nav-wrap {
        position: sticky;
        top: get-size('400');
    }

    .main-nav {
        max-width: 33%;
        padding-right: 4.2vw;

        @supports (padding-right: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')})) {
            padding-right: clamp(#{get-size('300')}, 4.2vw, #{get-size('1000')});
        }

        @include media-query('sm') {
            ul {
                outline: .2rem dashed var(--color-primary);
                outline-offset: -.2rem;

                li {
                    padding-left: get-size('900');

                    + li {
                        margin-top: .5em;
                    }

                    &.nav__item--active {
                        a {
                            &:before {
                                content: "";
                                position: absolute;
                                top: 45%;
                                left: -#{get-size('900')};
                                display: block;
                                width: #{get-size('800')};
                                height: .125rem;
                                background-color: var(--color-primary);
                                transform: translateY(-50%);
                            }
                        }
                    }

                    a {
                        @include apply-utility('color', 'text');
                        position: relative;
                        line-height: 1;
                        text-decoration: none;

                        &:before {
                            @include apply-utility('box', 'block');
                            content: "";
                            position: absolute;
                            top: 45%;
                            left: calc(#{get-size('800')} - #{get-size('900')});
                            width: 0;
                            height: .125rem;
                            background-color: var(--color-text);
                            transition: .15s ease width, .15s ease left;
                        }

                        &:hover,
                        &:focus {
                            &:not([aria-current="page"]) {
                                &:before {
                                    width: #{get-size('600')};
                                    left: -2.17rem; // size-600 + (size-800 - size-900);
                                    transition: .15s ease width, .15s ease left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
