.wrapper--404 {
    flex-direction: column;
    align-items: center;
}

.title-404--light,
.message-404--light {
    display: inline-block;
}

.title-404--dark,
.message-404--dark {
    display: none;
}

.message-404--light,
.message-404--dark {
    margin-bottom: 0;
}

@include dark-theme() {
    .title-404--light,
    .message-404--light {
        display: none;
    }

    .title-404--dark,
    .message-404--dark {
        display: inline-block;
    }
}
