@mixin ratio--9-16() {
    position: relative;
    padding-top: 77.778%;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }

    @supports (aspect-ratio: 9/16) {
        padding-top: 0;
        aspect-ratio: 9/16;

        img {
            position: relative;
        }
    }
}
