{% macro link(url, classes, hoverText, title, desc, img) %}

<a href="{{ url }}" class="card-link box-block color-base{% if classes %} {{ classes }}{% endif %}" {% if hoverText %} data-hover-text="{{ hoverText }}{% endif %}">
    <div class="card-link__inner box-flex">
        <span class="card-link__title h3 stack-500">
            {{ title }}
            {% if desc %}
                <span class="box-block h6">{{ desc }}</span>
            {% endif %}
        </span>
        {% if img %}
            {% import "macros/picture.html" as pic %}

            {{ pic.image( 'card-link__image stack-400', img, '', '', '' ) }}
        {% endif %}
    </div>
</a>

{% endmacro %}