{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/not-found.css'] %}
{% set pageCriticalScripts = ['js/cursor-dot.js'] %}

{% block content %}

<div class="wrapper wrapper--404 box-flex">
    <h1 class="xxl">
        {{title}}
        <br>
        <span class="title-404--light xl">Follow the light!</span>
        <span class="title-404--dark xl">Lost in the dark?</span>
    </h1>

    <p class="lede message-404--light">Let's guide you to the <a href="/{{ locale }}" aria-label="{{ site.name }} - home">homepage</a>.</p>
    <p class="lede message-404--dark">Seek out the <a href="/{{ locale }}" aria-label="{{ site.name }} - home">homepage</a>?</p>
</div>

{% endblock %}