{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/not-found.css'] %}
{% set pageCriticalScripts = ['js/cursor-dot.js'] %}

{% block content %}

<div class="wrapper wrapper--404 box-flex">
    <h1 class="title-404--light xxl">
        {{title}}
        <span class="xl">Follow the light!</span>
    </h1>
    <p class="message-404--light lede">Let's guide you to the <a href="/{{ locale }}" aria-label="{{ site.name }} - home">homepage</a>. 🧭</p>

    <h1 class="title-404--dark xxl">
        {{title}}
        <span class="xl">Lost in the dark?</span>
    </h1>
    <p class="message-404--dark lede">Seek out the <a href="/{{ locale }}" aria-label="{{ site.name }} - home">homepage</a>? 🔦</p>
</div>

{% endblock %}