{% extends "layouts/base.html" %}

{% set pageHeaderTitle = intro.main %}
{% set pageHeaderSummary = content|safe %}

{% set pageCriticalStyles = ['css/home.css'] %}

{% import "macros/translation.html" as trans %}
{% import "macros/card-link.html" as cardLink %}

{% block content %}
<div class="home-content wrapper align-center">
    <article>
        <h1 class="page-head__title xxl">
            {{ intro.main }} <span data-hover-img="/images/ghrn_sq_480px.webp">George</span>
        </h1>

        <img src="/images/ghrn_sq_480px.webp" alt="" class="img-no-hover img-no-hover--ghrn" loading="lazy">

        <div class="page-head__summary lede">
            {{ content | safe }}
        </div>

        <section>
            <div class="section-header">
                <div class="h-sep">
                    <span aria-hidden="true"></span>
                    <h2>{{ trans.lation('Featured project', 'Nostettu projekti', locale) }}</h2>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            {% if locale === 'en' %}
                {% for item in collections.work_en %}
                    {% if loop.index == 1 %}
                        {{ cardLink.link(item.url, '', 'View project', item.data.title, '', item.data.hero.image) }}
                    {% endif %}
                {% endfor %}
            {% elif locale === 'fi' %}
                {% for item in collections.work_fi %}
                    {% if loop.index == 1 %}
                        {{ cardLink.link(item.url, '', 'Katso projekti', item.data.title, '', item.data.hero.image) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>

        <footer>
            <div class="section-header">
                <div class="h-sep">
                    <span aria-hidden="true"></span>
                    <h2>{{ trans.lation('Information', 'Tietoa', locale) }}</h2>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            <div class="lede">
                {% set visitLinkText = trans.lation('Visit link', 'Siirry sivustolle', locale) %}
                <p class="box-block">&#169; George Hieron 2022</p>
                <p class="box-block">{{ trans.lation('Build: Me', 'Rakenne: minä', locale) }}</p>
                <p class="box-block">{{ trans.lation('Design:', 'Suunnittelu:', locale) }} <a href="https://www.ben-hamilton.co.uk/" rel="nofollow" data-hover-text="{{ visitLinkText }}">Ben Hamilton</a></p>
                <p class="box-block">{{ trans.lation('Type:', 'Typografia:', locale) }} <a href="https://pangrampangram.com/products/migra" rel="nofollow" data-hover-text="{{ visitLinkText }}">Migra</a>, <a href="https://www.atipofoundry.com/fonts/archia" rel="nofollow" data-hover-text="{{ visitLinkText }}">Archia</a>, <a href="https://pangrampangram.com/products/fraktion" rel="nofollow" data-hover-text="{{ visitLinkText }}">Fraktion Mono</a></p>
            </div>
            {% include "components/back-to-top.html" %}
        </footer>
    </article>
</div>
{% endblock %}