{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/home.css'] %}

{% import "macros/card-link.html" as cardLink %}

{% block content %}
<div class="home-content wrapper align-center">
    <article>
        <h1 class="xxl">{{ intro.main }}</h1>
        <div class="lede">{{ content | safe }}</div>

        <section>
            <div class="h-sep">
                <span aria-hidden="true"></span>
                <h2>Latest post</h2>
                <span aria-hidden="true"></span>
            </div>
            {% for item in collections.blog %}
                {% if loop.index == 1 %}
                    {{ cardLink.link(item.url, loop.index, 'bg-primary', item.data.title) }}
                {% endif %}
            {% endfor %}
        </section>

        <section>
            <div class="h-sep">
                <span aria-hidden="true"></span>
                <h2>Featured project</h2>
                <span aria-hidden="true"></span>
            </div>
            {% if locale === 'en' %}
                {% for item in collections.work_en %}
                    {% if loop.index == 1 %}
                        {{ cardLink.link(item.url, loop.index, 'bg-text', item.data.title) }}
                    {% endif %}
                {% endfor %}
            {% elif locale === 'fi' %}
                {% for item in collections.work_fi %}
                    {% if loop.index == 1 %}
                        {{ cardLink.link(item.url, loop.index, 'bg-text', item.data.title) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>

        <footer>
            <div class="h-sep">
                <span aria-hidden="true"></span>
                <h2>Information</h2>
                <span aria-hidden="true"></span>
            </div>
            <div class="lede">
                <p class="box-block">&#169; George Hieron 2021</p>
                <p class="box-block">Build: Me</p>
                <p class="box-block">Design: <a href="https://www.ben-hamilton.co.uk/" target="_blank" rel="nofollow">Ben Hamilton</a></p>
                <p class="box-block">Type: <a href="https://pangrampangram.com/products/migra" target="_blank" rel="nofollow">Migra</a>, <a href="https://www.atipofoundry.com/fonts/archia" target="_blank" rel="nofollow">Archia</a>, <a href="https://pangrampangram.com/products/fraktion" target="_blank" rel="nofollow">Fraktion Mono</a></p>
            </div>
            <div class="gap-top-1100">
                <a href="#top" class="h5 text-primary">Back to top</a>
            </div>
        </footer>
    </article>
</div>
{% endblock %}