{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
<time datetime="{{ date }}">{{ date | dateFilter }}</time>
{% if tags %}
<p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
<ul aria-describedby="tags-desc">
    {% for tag in tags %}
    <li>
        <a href="/{{ locale }}/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endset %}

{% block content %}
<article>
    {% include "partials/page-header.html" %}
    {{ content | safe }}
    <footer>
        <p class="h6">Words by George Hieron</p>
        <a href="#top" class="h6">Back to top</a>
    </footer>
</article>
{% endblock %}