{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
<div class="wrapper">
    <article>
        <div>
            <h1 class="xxl">{{ intro.main }}</h1>
            <h1 class="xl">{{ intro.main }}</h1>
            <h1>{{ intro.main }}</h1>
            <h2>{{ intro.main }}</h2>
            <h3>{{ intro.main }}</h3>
            <h4>{{ intro.main }}</h4>
            <h5>{{ intro.main }}</h5>
            <h6>{{ intro.main }}</h6>
            <p class="lede">Þa wæs Geatmæcgum geador ætsomne on beorsele benc gerymed; þær swiðferhþe sittan eodon, þryðum dealle.</p>
            <p>Heard, hondlocen, helpe gefremede, <mark>beadohrægl broden on breostum</mark> <a href="#">læg golde gegyrwed</a>. Me to <strong>grunde teah</strong> fah feondscaða, <em>fæste hæfde</em> grim on grape; hwæþre me gyfeþe wearð þæt ic aglæcan orde geræhte, hildebille; heaþoræs fornam mihtig meredeor þurh mine hand. Swa mec <code>gelome laðgeteonan þreatedon</code> þearle. Ic him þenode.</p>
            <kbd>Tab</kbd>
            <kbd>Command</kbd>
            <ul>
                <li>Milk</li>
                <li>Cheese
                    <ul>
                        <li>Halloumi</li>
                        <li>Cheddar</li>
                    </ul>
                </li>
            </ul>
            <ol>
                <li>Mix flour, baking powder, sugar, and salt.</li>
                <li>In another bowl, mix eggs, milk, and oil.</li>
                <li>Stir both mixtures together.</li>
                <li>Fill muffin tray 3/4 full.</li>
                <li>Bake for 20 minutes.</li>
            </ol>
            <ol>
                <li>first item</li>
                <li>second item  <!-- closing </li> tag not here! -->
                    <ol>
                    <li>second item first subitem</li>
                    <li>second item second subitem</li>
                    <li>second item third subitem</li>
                    </ol>
                </li>            <!-- Here's the closing </li> tag -->
                <li>third item</li>
            </ol>


        </div>

        {{ content | safe }}
    </article>
</div>
{% endblock %}