{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/work-item.css'] %}

{% block content %}
<section>
    <article>
        <header class="work-item-header">
            <h1 class="xl">{{ title }}</h1>
            {% if summary %}
                <p class="lede">{{ summary }}</p>
            {% endif %}
            {% if hero.image %}
                {% import "macros/picture.html" as pic %}

                {{ pic.image(
                    picClasses='',
                    src=hero.image,
                    imgClasses='',
                    alt=hero.imageAlt,
                    title='',
                    caption=''
                )}}
            {% endif %}
        </header>

        {% if techStack %}
            <details class="tech-stack" open>
                <summary class="h5">Tech stack</summary>
                <ul>
                    {% for item in techStack %}
                        <li>{{ item|safe }}</li>
                    {% endfor %}
                </ul>
            </details>
        {% endif %}

        {{content|safe}}

        {% if visitLink %}
            <div class="box-flex">
                <a href="{{ visitLink|safe }}" class="btn btn--work-visit" aria-describedby="{{ title }}">{{ visitText }}</a>
            </div>
        {% endif %}

        <footer class="align-center">
            {% include "components/back-to-top.html" %}
        </footer>
    </article>
</section>

{% endblock %}