{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% set pageCriticalStyles = ['css/work-landing.css'] %}

{% import "macros/page-head.html" as pageHead %}
{% import "macros/work-list-item.html" as workItem %}

{% block content %}
<article>
    {{ pageHead.header('xxl align-center', pageHeaderTitle, 'lede align-center', pageHeaderSummary) }}

    <ul class="list--unstyled">
        {% for item in collections["work_" + locale] %}
            {{ workItem.link(item.url, '', item.data.year, item.data.title) }}
        {% endfor %}
    </ul>
</article>
{% endblock %}