{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/work-item.css'] %}

{% block content %}
<section>
    <article>
        <header class="work-item-header">
            <h1>{{ title }}</h1>
            {% if summary %}
                <p class="lede">{{ summary }}</p>
            {% endif %}
            {% if hero.image %}
                <picture>
                    <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" />
                </picture>
            {% endif %}
        </header>

        {% if techStack %}
            <details class="tech-stack" open>
                <summary class="h5">Tech stack</summary>
                <ul>
                    {% for item in techStack %}
                        <li>{{ item|safe }}</li>
                    {% endfor %}
                </ul>
            </details>
        {% endif %}

        {{content|safe}}

        <footer class="align-center">
            {% include "components/back-to-top.html" %}
        </footer>
    </article>
</section>

{% endblock %}