{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content|safe %}

{% set pageCriticalStyles = ['css/work-landing.css'] %}

{% import "macros/page-head.html" as pageHead %}
{% import "macros/work-list-item.html" as workItem %}

{% block content %}
<article>
    {{ pageHead.header('xxl align-center', pageHeaderTitle, 'lede align-center', pageHeaderSummary) }}

    <section>
        <ul class="list--unstyled">
            {% for item in collections["work_" + locale] %}
            {{ workItem.link(item.url, '', item.data.year, item.data.title, item.data.hero.image, item.data.hero.workPos) }}
            {% endfor %}
        </ul>
    </section>

    <footer class="align-center">
        {% include "components/back-to-top.html" %}
    </footer>
</article>
{% endblock %}