/// BASE SIZE
/// All calculations are based on this. It’s recommended that
/// you keep it at 1rem because that is the root font size. You
/// can set it to whatever you like and whatever unit you like.
///
$gorko-base-size: 1rem;

/// FONTS
$font-body: 'Archia Light', Geneva, "Trebuchet MS", sans-serif;
$font-strong: 'Archia Medium', Geneva, "Trebuchet MS", sans-serif;
$font-title: 'Migra Extrabold', Palatino, Palatino Linotype, Book Antiqua, serif;
$font-title-i: 'Migra Extrabold Italic', Palatino, Palatino Linotype, Book Antiqua, serif;
$font-title-l: 'Migra Extralight', Palatino, Palatino Linotype, Book Antiqua, serif;
$font-mono: "Fraktion Mono", Monaco, "Courier New", Courier, monospace;

/// SIZE SCALE
/// This is a Major Third scale that powers all the utilities that
/// it is relevant for (font-size, margin, padding). All items are
/// calcuated off the base size, so change that and cascade across
/// your whole project.
///
$gorko-size-scale: (
    "100": $gorko-base-size * 0.512, // 8.19px
    "200": $gorko-base-size * 0.64, // 10.24px
    "300": $gorko-base-size * 0.8, // 12.8px
    "400": $gorko-base-size, // 16px
    "500": $gorko-base-size * 1.25, // 20px
    "600": $gorko-base-size * 1.56, // 25px
    "700": $gorko-base-size * 1.95, // 31px
    "800": $gorko-base-size * 2.44, // 39px
    "900": $gorko-base-size * 3.05, // 48px
    "1000": $gorko-base-size * 3.82, // 61px
    "1100": $gorko-base-size * 4.77, // 76px
    "1300": $gorko-base-size * 7.45, // 119px
    "1400": $gorko-base-size * 9.31, // 150px
    "1600": $gorko-base-size * 14.6, // 233px
);

// WIDTHS
$max-width: 90rem;

/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///
$light: #fff;
$light-invert: #3d3d3d;
$light-primary: #137c5f;
$mid-grey: #4c4c4c;
$dark: $light-invert;
$dark-invert: #f7f7f7;
$dark-primary: #efd036;

// CODE COLOURS
$code-bg--light: $dark-invert;
$code-fg--light: $light-invert;
$code-comment--light: #717171;
$code-primary--light: #ce1ca2;
$code-secondary--light: #3aa386;
$code-tertiary--light: #ad5a00;
$code-quaternary--light: #e01010;
$code-quinary--light: #0f7c95;
$code-senary--light: #a724ff;
$code-septenary--light: #455ff2;

$code-bg--dark: darken($dark, 5%);
$code-fg--dark: $dark-invert;
$code-comment--dark: #a8a8a8;
$code-primary--dark: #ee81d3;
$code-secondary--dark: #13c292;
$code-tertiary--dark: #eb9437;
$code-quaternary--dark: $dark-primary;
$code-quinary--dark: #f78e8e;
$code-senary--dark: lighten(#a724ff, 20%);
$code-septenary--dark: #33c9eb;

@import "mixins/dark-theme";

:root {
    --color-theme: "light";
    --color-base: #{$light};
    --color-text: #{$light-invert};
    --color-primary: #{$light-primary};
    --color-primary-alt: #{$dark-primary};
    --color-light: #{$light};
    --color-dark: #{$dark};
    --color-mid-grey: #{$mid-grey};
    --color-code-bg: #{$code-bg--light};
    --color-code-fg: #{$code-fg--light};
    --color-code-comment: #{$code-comment--light};
    --color-code-primary: #{$code-primary--light};
    --color-code-secondary: #{$code-secondary--light};
    --color-code-tertiary: #{$code-tertiary--light};
    --color-code-quaternary: #{$code-quaternary--light};
    --color-code-quinary: #{$code-quinary--light};
    --color-code-senary: #{$code-senary--light};
    --color-code-septenary: #{$code-septenary--light};
}

[data-user-color-theme="light"] {
    --color-theme: "light" !important;
}

@include dark-theme() {
    --color-theme: "dark";
    --color-base: #{$dark};
    --color-text: #{$dark-invert};
    --color-primary: #{$dark-primary};
    --color-primary-alt: #{$light-primary};
    --color-light: #{$light};
    --color-dark: #{$dark};
    --color-mid-grey: #{$mid-grey};
    --color-code-bg: #{$code-bg--dark};
    --color-code-fg: #{$code-fg--dark};
    --color-code-comment: #{$code-comment--dark};
    --color-code-primary: #{$code-primary--dark};
    --color-code-secondary: #{$code-secondary--dark};
    --color-code-tertiary: #{$code-tertiary--dark};
    --color-code-quaternary: #{$code-quaternary--dark};
    --color-code-quinary: #{$code-quinary--dark};
    --color-code-senary: #{$code-senary--dark};
    --color-code-septenary: #{$code-septenary--dark};
}

$gorko-colors: (
    "base": var(--color-base),
    "text": var(--color-text),
    "primary": var(--color-primary),
    "primary-alt": var(--color-primary-alt),
    "mid-grey": var(--color-mid-grey),
);

/// CORE CONFIG
/// This powers everything from utility class generation to breakpoints
/// to enabling/disabling pre-built components/utilities.
///
$gorko-config: (
    "bg": (
        "items": $gorko-colors,
        "output": "standard",
        "property": "background",
    ),
    "color": (
        "items": $gorko-colors,
        "output": "standard",
        "property": "color",
    ),
    "box": (
        "items": (
            "block": "block",
            "flex": "flex",
            "hide": "none",
            "show": "inherit",
        ),
        "output": "responsive",
        "property": "display",
    ),
    "font": (
        "items": (
            "base": $font-body,
            "strong": $font-strong,
            "title": $font-title,
            "title-i": $font-title-i,
            "title-l": $font-title-l,
            "mono": $font-mono,
        ),
        "output": "standard",
        "property": "font-family",
    ),
    "gap-top": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "margin-top",
    ),
    "gap-right": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "margin-right",
    ),
    "gap-bottom": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "margin-bottom",
    ),
    "gap-left": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "margin-left",
    ),
    "pad-top": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "padding-top",
    ),
    "pad-right": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "padding-right",
    ),
    "pad-bottom": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "padding-bottom",
    ),
    "pad-left": (
        "items": $gorko-size-scale,
        "output": "standard",
        "property": "padding-left",
    ),
    "stack": (
        "items": (
            "300": 0,
            "400": 10,
            "500": 20,
            "600": 30,
            "700": 40,
            "1000": 70,
            "1100": 80,
        ),
        "output": "standard",
        "property": "z-index",
    ),
    "text": (
        "items": $gorko-size-scale,
        "output": "responsive",
        "property": "font-size",
    ),
    "weight": (
        "items": (
            "light": "300",
            "regular": "400",
            "bold": "700",
        ),
        "output": "standard",
        "property": "font-weight",
    ),
    "align": (
        "items": (
            "left": "left",
            "right": "right",
            "center": "center",
        ),
        "output": "standard",
        "property": "text-align",
    ),
    "width": (
        "items": (
            "full": "100%",
            "half": "50%",
            "quarter": "25%",
            "third": "#{calc(100/3)}%",
        ),
        "output": "responsive",
        "property": "width",
    ),
    "breakpoints": (
        "sm": "(min-width: 36rem)",
        "md": "(min-width: 48rem)",
        "lg": "(min-width: 62rem)",
        "xl": "(min-width: 90rem)",
    ),
);
