@font-face {
    font-family: "Archia Light";
    src: url('/../fonts/archia-light-webfont.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Archia Medium";
    src: url('/../fonts/archia-medium-webfont.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Migra Extrabold";
    src: url('/../fonts/Migra-Extrabold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Migra Extrabold Italic";
    src: url('/../fonts/MigraItalic-ExtraboldItalic.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Migra Extralight";
    src: url('/../fonts/Migra-Extralight.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Fraktion Mono";
    src: url('/../fonts/FraktionMono-Regular.otf') format('opentype');
    font-display: swap;
}

body {
    @include apply-utility('font', 'base');
    font-size: get-size('400');
    line-height: 1.4;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include apply-utility('font', 'title');
}

a {
    color: $green;
}

strong {
    @include apply-utility('font', 'strong');
}

em {
    font-style: normal;
    display: inline-block;
    transform: skew(-12.5deg);
}

mark {
    color: $light;
    background-color: $green;
}

blockquote {
    @include apply-utility('font', 'title-l');
    padding-left: 2rem;
    font-style: normal;
}

pre,
code {
    @include apply-utility('font', 'mono');
}

@media (prefers-color-scheme: dark) {
    a {
        color: $yellow;
    }

    mark {
        color: $dark;
        background-color: $yellow;
    }
}
