// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

@import "mixins/vis-h";

@import 'typography';

@import "components/skip-link";

@import "utilities/data-hide";
@import "utilities/visually-hidden";

:focus {
    outline: .2rem dashed var(--color-primary);
    outline-offset: .1rem;
}

body {
    position: relative;
    color: var(--color-text);
    background-color: var(--color-base);

    > .site-texture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/images/textures/paper-3.png);
        opacity: .35;
        pointer-events: none;
    }
}

main {
    &:focus {
        outline: none;
    }
}

@import "layouts/layout-main";

@import "components/main-nav";
@import 'components/toggle-button';
@import 'components/icons';
@import 'components/burger';
@import 'components/buttons';
@import 'components/code'; // TODO: Move this, not critical

@include dark-theme() {
    body {
        > .site-texture {
            opacity: .2;
        }
    }
}