// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

@import "mixins/vis-h";

@import "components/skip-link";

:focus {
    outline: .2rem dashed var(--color-primary);
    outline-offset: .1rem;
}

html,
body {
    overflow: visible;
}

body {
    position: relative;
    color: var(--color-text);
    background-color: var(--color-base);

    > .site-texture {
        // content: "";
        position: fixed;
        top: -10%;
        left: -10%;
        display: block;
        width: 120%;
        height: 120%;
        background-image: url(/images/textures/paper-3.png);
        opacity: .6;
        pointer-events: none;
    }
}

main {
    &:focus {
        outline: none;
    }
}

@import 'typography';

.block {
    margin: 3rem auto;
    width: 50vw;
    height: 50vh;
    background-color: var(--color-primary);
}
