<div class="main-nav-wrap">
    <nav id="main-nav" class="main-nav box-block" aria-labelledby="main-nav__label">
        <h2 id="main-nav__label" class="visually-hidden">
            {{ trans.lation('Main menu', 'Päävalikko', locale) }}
        </h2>
        <ul class="main-nav__list box-block">
            {% for item in collections["pages_" + locale] | eleventyNavigation %}
                {% set isCurrent = (item.url == page.url) %}
                {% if eleventyNavigation.parent %}
                    {% set isParent = item.url != '/' and item.url in page.url and item.title == eleventyNavigation.parent %}
                {% endif %}
                <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
                    <a
                        class="nav__link h3"
                        href="{% if isCurrent %}#main-content{% else %}{{ item.url | url }}{% endif %}"
                        {% if isCurrent %}aria-current="page"{% endif %}
                    >
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>