{% import "macros/translation.html" as trans %}

<section id="top" class="side-content">
    <a id="js-skip-link" class="skip-link button" href="#main-content">
        {{ trans.lation('Skip to content', 'Siirry sisältöön', locale) }}
    </a>
    <header role="banner" id="site-head" class="site-head">
        <div class="site-head__top stack-700">
            <a href="/{{ locale }}" aria-label="{{ site.name }} - home" class="site-head__brand">
                {% include "partials/svg/gh_logo_RGB.svg" %}
            </a>

            <button id="js-brgr" class="burger-wrap color-text" aria-expanded="false" aria-labelledby="js-brgr-label">
                <span id="js-brgr-label" class="burger-label h5" lang="{{ locale }}">
                    <span class="open visually-hidden" aria-hidden="false">{{ trans.lation('Open', 'Avaa', locale) }}</span>
                    <span class="close" data-hide="true" aria-hidden="true">{{ trans.lation('Close', 'Sulje', locale) }}</span>
                    <span class="menu" data-hide="false" aria-hidden="false">{{ trans.lation('Menu', 'Valikko', locale) }}</span>
                </span>
                <span id="js-brgr-icon" class="burger">
                    <span class="burger__inner"></span>
                </span>
            </button>

            {# Loop though site.languages #}
            {% for lang in site.languages %}
            {% if loop.first %}
                <ul class="lang-nav box-flex">
            {% endif %}

                {# Set translatedUrl to the homepage of that language by default #}
                {% set translatedUrl = "/" + lang.code + "/" %}

                {# Set currentLand boolean #}
                {% set currentLang = true if lang.code == locale %}

                {# Set current language class #}
                {% set activeClass = "is-active" if currentLang %}

                {# Loop through all the content of the site #}
                {% for item in collections.all %}

                {# For each item in the loop, check if...
                - its translationKey matches the current item translationKey
                - its locale matches the code of the language we are looping through #}
                {% if item.data.translationKey == translationKey and item.data.locale == lang.code %}
                    {% set translatedUrl = item.url %}
                {% endif %}

                {% endfor %}

                <li class="lang-nav__item box-flex">

                    <a class="lang-nav__link box-flex font-title{% if activeClass %} {{ activeClass }}{% endif %}" href="{{ translatedUrl }}" lang="{{ lang.code }}" hreflang="{{ lang.code }}"{% if activeClass %} aria-current="true"{% endif %}>
                        {% if loop.last and not currentLang %}
                            {% include "components/toggle-button-lang.html" %}
                        {% endif %}
                        <span class="lang-nav__item__code box-flex{% if loop.last %} row-reverse{% endif %}">
                            <span aria-hidden="true">
                                {% if lang.code === 'en' %}
                                🇬🇧
                                {% elif lang.code === 'fi' %}
                                🇫🇮
                                {% endif %}
                            </span>
                            {{ lang.code }}
                        </span>
                        <span class="visually-hidden">{{ lang.label }}</span>
                        {% if loop.first and not currentLang %}
                            {% include "components/toggle-button-lang.html" %}
                        {% endif %}
                    </a>
                </li>

            {% if loop.last %}
                </ul>
            {% endif %}
            {% endfor %}
        </div>

        <div class="site-head__bottom stack-600">
            {% include "partials/main-nav.html" %}
        </div>

        <div class="theme-toggle-wrap box-flex stack-1100">
            {% include "components/toggle-button-theme.html" %}
        </div>
    </header>
</section>